---
const navItems = [
{
    title: "Experience",
    label: "experience",
    url: "/#experience"
},
{
    title: "Projects",
    label: "projects",
    url: "/#projects"
}
]
---

<header class="fixed top-5 z-20 w-full">
    <div id="header-nav" class="mx-auto flex justify-between items-center py-3 w-8/12 bg-gray-950/30 border-x-2 border-y-2 border-gray-800/30 shadow-xl shadow-gray-950/40 rounded-full px-5 transition-all duration-200 ease-in-out hover:shadow-gray-950/80 hover:border-gray-200/30">
        <img class="rounded-full w-8 h-8" src="/public/icon.webp" alt="logo">
        <nav class="flex flex-row gap-x-5 opacity-80">
            <a href="#top" class="text-gray-400 transition-all duration-200 ease-in-out hover:text-white">Home</a>
            <a href="#experience" class="text-gray-400 transition-all duration-200 ease-in-out hover:text-white">Experience</a>
            <a href="#projects" class="text-gray-400 transition-all duration-200 ease-in-out hover:text-white">Projects</a>
        </nav>
    </div>
</header>