<div class="flex items-center w-full my-10">
    <span class="flex-grow bg-gradient-to-l from-gray-400/90 to-gray-400/0 rounded h-1"></span>
    <span class="mx-3 text-lg font-medium opacity-80"> ♦ </span>
    <span class="flex-grow bg-gradient-to-r from-gray-400/90 to-gray-400/0 rounded h-1"></span>
</div>